<!-- Template -->
<p>Hello <strong>{{name}}</strong></p>
<p>Thank you for registering with us. Please click the link below to confirm
  your email address.</p>
<button type='button'><a href='{{url}}'>Click Here</a></button>